<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>leeder page</title>
    <link rel="stylesheet" href="style.css">
</head>

<body>
    
    <div class="container">
        <div class="ban">
            <div class="col1">
                <img class="col1" src="img/logoleeder.jpg" alt="logo" />
            </div>
            <div class="col2">
                <h1>Leeder</h1>
            </div>
            <div class="col3">
                <div class="menu">
                    <button>
                        <img class="barra" src="./img/menu.png" alt="barra" />
                    </button>
                    <div class="menu-content">
                    <p>
                        <a href="#a">¿Qué es Leeder? </a>
                        <a href="#b">¿Cómo funciona? </a>
                        <a href="#c">¿Quiénes somos? </a>
                        <a href="#d">Descarga </a>
                        <a href="#e">Contáctanos </a>
                        <a href="#f">Reconocimiento</a>
                    </p> 
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="cuerpo">
        <div class="slide">
            <div class="slide-inner">
                <input class="slide-open" type="radio" id="slide-1" name="slide" aria-hidden="true" hidden=""
                    checked="checked" />
                <div class="slide-item">
                    <img src="img/Captura de pantalla 2023-05-26 124559.png" alt="prueba1" />
                </div>
                <input class="slide-open" type="radio" id="slide-2" name="slide" aria-hidden="true" hidden="" />
                <div class="slide-item">
                    <img src="img/Screenshot_2023-05-26-12-30-25-406_com.canva.editor.png" alt="prueba1" />
                </div>
                <input class="slide-open" type="radio" id="slide-3" name="slide" aria-hidden="true" hidden="" />
                <div class="slide-item">
                    <img src="img/auditivo.png" alt="prueba1" />
                </div>
                <input class="slide-open" type="radio" id="slide-4" name="slide" aria-hidden="true" hidden="" />
                <div class="slide-item">
                    <img src="img/visual.png" alt="prueba1" />
                </div>
                <input class="slide-open" type="radio" id="slide-5" name="slide" aria-hidden="true" hidden="" />
                <div class="slide-item">
                    <img src="img/kinesietico.png" alt="prueba1" />
                </div>
                <label for="slide-5" class="slide-control prev control-1">‹</label>
                <label for="slide-4" class="slide-control next control-3">›</label>
                <label for="slide-3" class="slide-control prev control-4">‹</label>
                <label for="slide-2" class="slide-control next control-1">›</label>
                <label for="slide-1" class="slide-control prev control-2">‹</label>
                <label for="slide-5" class="slide-control next control-4">›</label>
                <label for="slide-4" class="slide-control prev control-5">‹</label>
                <label for="slide-3" class="slide-control next control-2">›</label>
                <label for="slide-2" class="slide-control prev control-3">‹</label>
                <label for="slide-1" class="slide-control next control-5">›</label>
                <ol class="slide-indicador">
                    <li>
                        <label for="slide-1" class="slide-circulo">•</label>
                    </li>
                    <li>
                        <label for="slide-2" class="slide-circulo">•</label>
                    </li>
                    <li>
                        <label for="slide-3" class="slide-circulo">•</label>
                    </li>
                    <li>
                        <label for="slide-4" class="slide-circulo">•</label>
                    </li>
                    <li>
                        <label for="slide-5" class="slide-circulo">•</label>
                    </li>
                </ol>
            </div>
        </div>



        <div class="information">

            <button class="accordion">
                <section id="a">
                    <h2>¿Que es Leeder?</h2>
                </section>
            </button>
            <div class="panel">
                <p>Leeder es una aplicación que busca que los niños se interesen en leer,
                    presentando textos que se adapten a sus gustos, siendo interactivos y
                    adecuados para su edad. Presentándose a través de juegos que ejercitan
                    la comprensión lectora, logrando que aprenda adecuadamente mediante
                    sus propias preferencias y sin ninguna presión que dañe su ritmo o
                    procedimiento.</p>
            </div>
            <button class="accordion">
                <section id="b">
                    <h2>¿Como funciona?</h2>
                </section>
            </button>
            <div class="panel">
                <p>
                    En leeder al crear tu usuario tienes que elegir entre usar la app
                    gratuitamente que esta no tendrá todos los mundos desbloqueados y esto
                    limitará tu aprendizaje, pero también puedes pagar un plan premium que
                    tiene el valor de 3.59 USD con el cual tendrás más mundos, juegos y
                    también la opción de personalizar tu avatar como tu quieras. Al hacer
                    el registro lo primero que harás es dar un pequeño examen de
                    aprendizaje, el cual al responder va a configurar los siguientes
                    juegos en base a los conocimientos que tengas y cuales son tus puntos
                    débiles y fuertes frente a la comprensión lectora, en resumen la app
                    se adaptara al usuario para darle una mejor experiencia y así poder
                    mejorar sus aprendizajes , la app consiste en 3 tipos de aprendizaje
                    cinestésico, auditivo y visual. Lo que queremos conseguir al hacer
                    esta app es que los niños puedan mejorar sus habilidades de
                    comprensión y así mejorar su futuro.
                </p>
            </div>

            <button class="accordion">
                <section id="c">
                    <h2>¿Quienes somos?</h2>
                </section>
            </button>
            <div class="panel">
                <p>
                    Somos una pareja de estudiantes que actualmente está cursando su
                    segundo año de técnico profesional, que decidieron ejecutar el
                    proyecto ya planteado en la competencia de technovation girls chile,
                    con el fin de hacer conocer nuestro proyecto y poder conseguir una
                    buena experiencia en este sector.
                </p>
            </div>

            <button class="accordion">
                <section id="d">
                    <h2>Descarga</h2>
                </section>
            </button>
            <div class="panel">
                <p>https://www.luegoestaradisponibleladescarga.cl</p>
            </div>

            <button class="accordion">
                <section id="e">
                    <h2>Contactanos</h2>
                </section>
            </button>
            <div class="panel">
                <p>
                    Nuestros linkedin y git hub para responder dudas y resolver problemas
                    que tengan con la app, tambien en nuestros git hub podran ver nuestros
                    proyectos que hemos hecho a lo largo de la especialidad.
                    <li>
                        <a href="https://www.linkedin.com/in/aaron-alvarez-bb1326278">Aaron Alvarez</a>
                    </li>
                    <li>
                        <a href="https://www.linkedin.com/in/kamila-castillo-ba1555249/">Kamila Castillo</a>
                    </li>
                    <li>
                        <a href="https://github.com/bycapiii">GitHub Aaron</a>
                    </li>
                    <li>
                        <a href="https://github.com/V3R0S3">GitHub Kamila</a>
                    </li>
                </p>
                <label>Nombre: </label>
                <input type="text" name="Last name" placeholder="ejemplo: Swan..." />
                <form action="/action_page.php">
                    Gmail:<input type="gmail" name="email" placeholder="ejemplo:xx12@gmail.com">
                    <input type="submit">
                </form>
                <label>Mensaje</label>
                <textarea name="Message" cols="30" rows="1"></textarea>
                <button type="button" onclick="alert('Mensaje enviado')">Click Me!</button>
            </div>
            <button class="accordion">
                <section id="f">
                    <h2>Reconocimiento</h2>
                </section>
            </button>
            <div class="panel">
                <p>Hola a todos los que llegaron a esta sección!!
                    Team Atenea es un equipo de trabajo que ideó ete proyecto consiguiendo con el llegar a
                    semifinalistas en la comepetencia de Technovation Girls Chile.
                    Nosotros Aaron y Kamila decidimos tomar la idea y llevarlo más allá, formulando una páguina de
                    información para aquellos interesados en conocer más sobre este proyecto.
                    Team Atenea se conforma por:
                </p>
                <img class="equipo" src="img/teamatenea.png" alt="T.A.">
                <p>Plataforma en la que puedes seguir el proceso de este proyecto</p>
                <li>
                    <a href="https://www.instagram.com/leederapp/">
                        <img src="img/instagram.png" alt="ig">
                    </a>
                </li>
            </div>
        </div>
    </div>
</body>
<script src="script.js"></script>

</html>